# [Audio settings]
AUDIO_ANGLE_COVERAGE=60
AUDIO_STREAM_LATENCY=50
AUDIO_CHUNK_DURATION=500
AUDIO_VOLUME=9
AUDIO_REC_HZ=16000

# [RECS Audio&Video Settings]
REC_AUDIO_ENABLE=true
REC_VIDEO_ENABLE=true
REC_VIDEO_ON_DETECTION=False
REC_SAVE_FP="./recs"

#[ADC (Analog-to-digital converter)]
DEVICES_CONFIG_PATH="./controllers_devices.json"

# [Sound Processing]
STATIONARY=true

# [LOGS]
LOG_PATH="./logs/"
# Log Config file
LOG_CONF_PATH="logging.conf"
# Log level: DEBUG, INFO, WARNING, ERROR, CRITICAL, NOTSET
LOG_LEVEL="INFO"

# [PTZ]
PTZ_USERNAME=""
PTZ_PASSWORD=""
PTZ_HOST=""
# Set video channel, can be: 1, 2, 3
PTZ_VIDEO_CHANNEL=1
PTZ_RTSP_PORT=554
PTZ_START_AZIMUTH=1770
PTZ_END_AZIMUTH=2793

# [AI]
# Device used by torch : cpu | cuda
AI_DEVICE=cpu
AI_NUM_PROC=4
AI_CV_ENABLE=false
AI_CV_MODEL="yolo11n_drone.pt"
AI_CV_MODEL_TYPE="yolo"
AI_MODELS_FOLDER="./assets/audio_models/"

# [IPC]
IPC_PROXY_XSUB_PORT=5556
IPC_PROXY_XPUB_PORT=5557
IPC_ACOUSTIC_ANGLE_TOPIC="acoustic_angle"
IPC_ACOUSTIC_DETECTION_TOPIC="acoustic_detection"
IPC_VISION_DECISION_TOPIC="vision_decision"
IPC_VISION_DETECTION_TOPIC="vision_detection"
IPC_VISION_ANGLE_TOPIC="vision_angle"
IPC_VIDEO_STREAMING_RAW_PORT=5559
IPC_VIDEO_STREAMING_ANNOTATED_PORT=5560